<div class="flex items-center flex-col pt-56 h-screen">
    <div class="h-screen">
        <h1 class="text-4xl text-center font-bold my-10">Welcome to

            <span class="text-5xl text-green-800">Task Manager App</span>
        </h1>
        
        <div class="flex flex-col items-center gap-5 justify-center">
            <!-- @if (authService.getUserDetail()) {
                <h1 class="text-2xl">
                    You are logged in as <span class="font-bold bg-blue-600 rounded-md p-2 text-white">
                       
                    </span>
                </h1>
                <p class="mt-4 px-4 text-center text-lg text-gray-700">
                    We're glad to have you back . Dive into managing your tasks, updating them, and marking them as completed.
                    Enjoy staying organized and productive with your personalized task manager.
                    Have fun with your new tasks and make the most out of your day!
                </p>
            } @else { -->
                <h1 class="text-2xl">You are not logged in</h1>
                <a routerLink="/login">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">
                        Login
                    </button>
                </a>
                <p class="mt-6 mb-8 px-4 text-center text-lg text-gray-700">
                    Welcome to the Task Manager App, your personal assistant for managing your tasks efficiently. 
                    With this app, you can effortlessly create new tasks, update existing ones, and mark them as completed or not completed. 
                    Stay organized and on top of your to-do list with our user-friendly interface. 
                    To get started, please create an account and log in. Once logged in, you'll have access to all the features that will help 
                    you stay productive and manage your tasks with ease.
                </p>
            
            
           
        </div>
    </div>
</div>
