



    <header class="header">
        <div class="container">
            <h1 class="title">Employee Management System</h1>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <section class="content">
                <h2 class="subtitle">Manage Your Employees Efficiently</h2>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac odio ac ipsum vehicula tempor vel
                    vitae ex.
                    Nulla facilisi. Proin varius aliquet diam. Sed nec leo nec lacus volutpat maximus a a ligula.
                </p>
            </section>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p class="footer-text">&copy; Soufiane Nouae.</p>
        </div>
    </footer>